<html>
	<head>
		<% include partials/head.ejs %>
		<% include partials/jsIncludes.ejs %>
	</head>

	<body>
		<% include partials/menu.ejs %>
		<div class="container">
			<% include partials/headline.ejs %>
			<div class="container">
					<div class="row">
						<div class="col-md-12">
							<img src="/images/desert.jpg" class="img-responsive">
						</div>
					</div>
			</div>
		</div>
	</body>
</html>